In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
order_items = pd.read_csv("Order Details.csv")

In [3]:
order_items.head()

  Order ID  Amount  Profit  Quantity     Category      Sub-Category
0  B-25601  1275.0 -1148.0         7    Furniture         Bookcases
1  B-25601    66.0   -12.0         5     Clothing             Stole
2  B-25601     8.0    -2.0         3     Clothing       Hankerchief
3  B-25601    80.0   -56.0         4  Electronics  Electronic Games
4  B-25602   168.0  -111.0         2  Electronics            Phones

In [4]:
original_shape = order_items.shape

print("Before cleaning: ", original_shape)

Before cleaning:  (1500, 6)

In [5]:
order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      1500 non-null   object
 1   Amount        1500 non-null   float64
 2   Profit        1500 non-null   float64
 3   Quantity      1500 non-null   int64
 4   Category      1500 non-null   object
 5   Sub-Category  1500 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 70.4+ KB

In [6]:
order_items.columns = (
    order_items.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [7]:
# Missing value check

order_items.isna().sum()

order_id        0
amount          0
profit          0
quantity        0
category        0
sub-category    0
dtype: int64

In [8]:
# Remove rows with missing critical identifiers

order_items = order_items.dropna(
    subset=["order_id", "amount", "quantity"]
)

In [9]:
# Checks duplicates 

order_items.duplicated().sum()

np.int64(0)

In [10]:
# Convert numeric columns

order_items["amount"] = pd.to_numeric(order_items["amount"], errors="coerce")
order_items["profit"] = pd.to_numeric(order_items["profit"], errors="coerce")
order_items["quantity"] = pd.to_numeric(order_items["quantity"], errors="coerce")

In [11]:
# Remove rows that became invalid after conversion

order_items = order_items.dropna(
    subset=["amount", "quantity"]
)

In [12]:
# Remove exact duplicate rows 

order_items = order_items.drop_duplicates()

In [13]:
text_columns = ["category", "sub-category"]

for col in text_columns:
    order_items[col] = order_items[col].astype(str).str.strip()

In [14]:
order_items = order_items[
    (order_items["quantity"] > 0) & (order_items["amount"] >= 0)
]

In [15]:
# Final dataset overview

order_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      1500 non-null   object
 1   amount        1500 non-null   float64
 2   profit        1500 non-null   float64
 3   quantity      1500 non-null   int64
 4   category      1500 non-null   object
 5   sub-category  1500 non-null   object
dtypes: float64(2), int64(1), object(3)
memory usage: 70.4+ KB

In [16]:
os.makedirs("cleaned_data", exist_ok=True)

print("After cleaning: ", order_items.shape)
order_items.to_csv("cleaned_data/order_items_cleaned.csv", index=False)

After cleaning:  (1500, 6)